a.button-wknd.wknd,
button-wknd.wknd {
    background-color: #ffea00;
    color: #202020;
    float: left;
    font-size: 14px;
    padding: 1em 2.5em;
    text-transform: uppercase;
    border: 0px;
}
