.image-with-text .block {
    padding: 20px;
}

.image-with-text {
    display: flex;
    height: 30rem;
}

.image-with-text>div:nth-child(1) {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 60%;
    align-items: stretch;
}

.image-with-text>div:nth-child(2) {
    padding: 36px;
    background-color: #ebebeb;
    width: 40%;
}

.image-with-text.block img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.image-with-text .button-container a {
    background-color: #ffea00;
    border-radius: 0;
    color: #202020;
    font-size: 14px;
    font-weight: 600;
    padding: 1em 2.5em;
    text-transform: uppercase;
}