.image-with-text .block {
    padding: 20px;
}

.image-with-text {
    display: flex;
    height: 30rem;
}

.image-with-text>div:nth-child(1) {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 60%;
    align-items: stretch;
}

.image-with-text>div:nth-child(2) {
    padding: 36px;
    background-color: #ebebeb;
    width: 40%;
}

.image-with-text.block img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
